.gradient-custom {
    /* fallback for old browsers */
    background: #cb119c;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(203, 17, 194), rgb(152, 37, 252));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(203, 17, 184), rgb(177, 37, 252))
    }