<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/915972a7-c879-46c0-a056-95e56416a197.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mi:</h1>
            <p>Actualmente me encuentro cursando el tercer año de la carrera Ciencias de la 
                Computación en la facultad de Ciencias Exactas de la UBA. Tengo conocimientos en 
                javascript, C++, python, entre otros.
              </p>
        </span>
    </div>
</div> 